
<div class="bd-callout bd-callout-warning">
    <p class="text-justify">
        Симплекс метод - это метод последовательного перехода от одного базисного решения (вершины многогранника решений) системы ограничений задачи линейного
        программирования к другому базисному решению до тех пор, пока функция цели не примет оптимального значения (максимума или минимума).
        Метод был разработан в 1947 году математиком из США Бернардом Данцигом.
    </p>
</div>

<p>Алгоритм</p>
<ul class="list-group list-group-flush">
    <li class="list-group-item">
        Свести поставленную задачу к канонической форме путём переноса свободных членов в правую часть и ввода дополнительных переменных. В случае отрицательных переменных неравенство умножается на -1. Если в записи используется знак «меньше или равно», переменная используется положительная, в противном случае — отрицательная.
    </li>
    <li class="list-group-item">
        Если в полученной системе m уравнений, то m переменных принять за основные, их необходимо выразить через неосновные и перейти к базовому решению.
    </li>
    <li class="list-group-item">
        Через неосновные переменные выражается функция цели.
    </li>
    <li class="list-group-item">
        Если при решении отыскивается ответ с максимумом или минимумом линейной формы и все неосновные переменные получаются только положительными, то задача считается выполненной.
    </li>
    <li class="list-group-item">
        Если найденный максимум (минимум) линейной формы в функции имеет одну или несколько неосновных переменных с отрицательными коэффициентами, необходимо перейти к новому базисному решению.
        Согласно правилу ввода определяется переменная, которую следует ввести в базис. Если
        таких переменных нет, то процесс вычислений прекращается, задача решена.
    </li>
    <li class="list-group-item">
        Согласно правилу ввода выбирается переменная, которую нужно вывести
        из базиса.
    </li>
    <li class="list-group-item">
        Методом Гаусса-Жордана вычисляется новый опорный план.
        Затем осуществляется переход к шагу 3.
    </li>

</ul>
