@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model SimplexDataViewModel
<div id="searchresults">
    <div>
        <span asp-validation-for="OriginalLimits"></span>
    </div>
    <div>
        <span asp-validation-for="OriginalFunc"></span>
    </div>
</div>

